# Magic behaviour with __get, __set, __call and __callStatic is not exactly static analyser-friendly :)
# Fortunately, You can ignore it by the following config.
#
parameters:
  level: 5
  paths:
    - app
    - config
  reportUnmatchedIgnoredErrors: false
  excludePaths:
    - */database/migrations/*
    - */storage/*
    - */vendor/*
  ignoreErrors:
    # Ignore errors related to magic methods in Hyperf/Laravel framework
    - '#Call to an undefined method.*__call#'
    - '#Call to an undefined method.*__get#'
    - '#Call to an undefined method.*__set#'
    - '#Call to an undefined method.*__callStatic#'
