parameters:
    level: 8
    paths:
        - app
        - config
        - tests
    reportUnmatchedIgnoredErrors: false
    checkMissingIterableValueType: true
    checkGenericClassInNonGenericObjectType: true
    excludePaths:
        - tests/TestCase.php
        - tests/bootstrap.php
    ignoreErrors: []
    tipsOfTheDay: false
